;/*
;===========================================================================
;
;Chat Bot Basic MIT Source Code
;Copyright (C) 2013-2017 Hevedy <github.com/Hevedy>
;
;Permission is hereby granted, free of charge, to any person obtaining a copy
;of this software and associated documentation files (the "Software"), to deal
;in the Software without restriction, including without limitation the rights
;to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
;copies of the Software, and to permit persons to whom the Software is
;furnished to do so, subject to the following conditions:
;
;The above copyright notice and this permission notice shall be included in
;all copies or substantial portions of the Software.
;
;THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
;IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
;FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
;AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
;LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
;OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
;THE SOFTWARE.
;
;===========================================================================
;*/


[Global]
0=error.bot
1=bot.abrir
2=bot.cerrar
3=bot.navegar
4=bot.carpeta
5=bot.archivo
6=bot.programa
7=bot.juego
8=bot.nada
9=bot.nada
10=bot.chat.conectar
11=bot.chat.desconectar
12=bot.chat.nuevo
13=bot.chat.borrar
14=bot.chat.limpiar
15=bot.test

[GlobalR]
0=Error 404
1=¿Quieres abrir el programa o archivo?
2=¿Quieres cerrar el programa o navegador?
3=¿Quieres abrir el navegador?
4=¿Quieres abrir esta carpeta?
5=¿Quieres abrir el archivo?
6=¿Quieres abrir el programa?
7=¿Quieres abrir este juego?
8=bot.no.reply
9=bot.no.reply
10=bot.no.reply
11=bot.no.reply
12=bot.no.reply
13=bot.no.reply
14=bot.no.reply
15=Este comando es de prueba.