;/*
;===========================================================================
;
;Chat Bot Basic MIT Source Code
;Copyright (C) 2013-2017 Hevedy <github.com/Hevedy>
;
;Permission is hereby granted, free of charge, to any person obtaining a copy
;of this software and associated documentation files (the "Software"), to deal
;in the Software without restriction, including without limitation the rights
;to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
;copies of the Software, and to permit persons to whom the Software is
;furnished to do so, subject to the following conditions:
;
;The above copyright notice and this permission notice shall be included in
;all copies or substantial portions of the Software.
;
;THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
;IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
;FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
;AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
;LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
;OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
;THE SOFTWARE.
;
;===========================================================================
;*/


[Global]
0=error.bot
1=text here for chatbot
2=text here for chatbot
3=text here for chatbot
4=text here for chatbot
5=text here for chatbot
6=text here for chatbot
7=text here for chatbot
8=text here for chatbot
9=text here for chatbot
10=text here for chatbot
11=text here for chatbot
12=text here for chatbot
13=text here for chatbot
14=text here for chatbot
15=text here for chatbot

[GlobalR]
0=Error 404
1=Text Here
2=Text Here
3=Text Here
4=Text Here
5=Text Here
6=Text Here
7=Text Here
8=Text Here
9=Text Here
10=Text Here
11=Text Here
12=Text Here
13=Text Here
14=Text Here
15=Text Here