<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Love2DManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
      <Love2DManager.Properties.Settings>
            <setting name="DLuaEditor" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
            <setting name="S_PName" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="S_PGameName" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="S_PAutor" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="S_PVersion" serializeAs="String">
                <value>none</value>
            </setting>
        </Love2DManager.Properties.Settings>
    
  </userSettings>
</configuration>